fastapi==0.115.6
uvicorn[standard]==0.30.6
python-multipart==0.0.12
pydantic==2.10.4
numpy==1.26.4
opencv-python-headless==4.10.0.84
mediapipe==0.10.14
torch==2.4.1
tqdm==4.67.1
scikit-learn==1.5.2
matplotlib==3.9.2
seaborn==0.13.2
